.imagine-class{
    text-align: center;
}

h1,h2,h3,h4,h5,h6 
.head-style{
    color: black;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}
h2{font-size:50px;}
h3 {font-size:40px ;}
h4 {font-size: 50px;}
li,p
    {
    color: black;
    text-align: center;}

body{background-color:#E9ECEF ;}

